@import './src/styles';

.header {
  max-width: 1200px;
  height: 230px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  margin: 0 auto 0 auto;


  &__logo {
    text-align: center;
    width: 100px;
  }

  &__img {
    max-width: 100px;
  }
}

.header-nav-bar {
  &__ul {
    width: 650px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    color: black;
    padding: 0px;
    text-decoration: none;
  }

  &__group {
    width: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

  }

  &__li {
    width: 100px;
    list-style-type: none;
    font-size: 100%;
    text-align: center;
    text-decoration: none;
  }
  &__li a {
    list-style-type: none;
    text-decoration: none;
    color: black;
  }

  &__li a:hover {
    cursor: pointer;
  }
}

@include large {
  .header {
    width: auto;
  }
  .header-nav-bar__ul {
    width: 500px;
  }
}

@include medium {
  .header-nav-bar__ul {
    width: 300px;
    justify-content: center;
  }
  .header-nav-bar__li {
    width: 75px;
    justify-content: center;
  }
}

@include small {
  .header-nav-bar__ul {
    min-width: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header-nav-bar__li {
    width: 100px;
    margin-bottom: 15px;
  }
}


