<div class="header">

  <ul class="header-nav-bar-ul header-nav-bar-left">
    <li class="header-nav-bar-left__dropdown">
      <ul class="header-nav-bar-left__dropdown-menu">
        <li class="header-nav-bar-left__li"><a style="cursor: pointer" (click)="onSaveData()">Save Data</a></li>
        <li class="header-nav-bar-left__li"><a style="cursor: pointer" (click)="onFetchData()">Fetch Data</a></li>
      </ul>
    </li>
  </ul>

  <div class="header__logo">
    <a href="#">
      <div class ="header__logo">
        <img src="../assets/img/pineappleLogo.png" class= "header__img" alt="Logo">
      </div>
    </a>
  </div>

  <div class="header-nav-bar">
    <ul class="header-nav-bar__ul">
      <li class="header-nav-bar__li" routerLinkActive="active"><a routerLink="/recipes">Recipes</a></li>
      <li class="header-nav-bar__li" routerLinkActive="active"><a routerLink="/shopping-list">Shopping List</a></li>
      <li class="header-nav-bar__li" routerLinkActive="active"><a routerLink="/auth">Login</a></li>
    </ul>
  </div>

</div>
