<div class="header">
  <div class ="header__logo">
    <img src="../assets/img/pineapple.png" class= "header__img" alt="Logo" style="max-height: 80px;">
  </div>
  <li class="header-nav-bar__li" routerLinkActive="active"><a routerLink="/auth" *ngIf="!isAuthenticated">Login</a></li>
  <div class="header-nav-bar">
    <ul class="header-nav-bar__ul">
      <div class="header-nav-bar__group">
        <li class="header-nav-bar__li" routerLinkActive="active"><a routerLink="/auth"  *ngIf="isAuthenticated" (click)="onLogout()">Logout</a></li>
      </div>
     <div class="header-nav-bar__group">
       <li class="header-nav-bar__li" routerLinkActive="active"><a routerLink="/recipes" *ngIf="isAuthenticated">Recipes</a></li>
       <li class="header-nav-bar__li" routerLinkActive="active"><a routerLink="/shopping-list" *ngIf="isAuthenticated">Shopping List</a></li>
     </div>
    </ul>
  </div>
  <div class="save-and-edit">
    <app-button [add]="true" [buttonName]="'Save all Changes'" (click)="onSaveData()" *ngIf="isAuthenticated"></app-button>
    <app-button [edit]="true" [buttonName]="'Edit Categories'" (click)="onEditCategory()" *ngIf="isAuthenticated"></app-button>
  </div>
</div>
