.button {
  color: white;
  display: block;
  border-radius: 3px;
  border: 1px solid black;
  padding: 5px;
  outline: none;
  transition: 0.2s ease-in-out;
  margin: 10px 10px;
  width: 100px;
  font-size: 10px;
  font-weight: 200;
}
.button:hover {
  cursor: pointer;
  border-color: black;
  outline: none;
};
.add-button {
  background: linear-gradient(90deg, rgb(61, 17, 255), rgb(20, 134, 253));
};
.add-button:hover {
  background: linear-gradient(90deg, rgb(5, 2, 143), rgb(5, 104, 255));
};
.clear-button {
  background: linear-gradient(90deg, rgb(6, 124, 255), rgb(5, 228, 255));
}
.clear-button:hover {
  background: linear-gradient(90deg, rgb(6, 99, 198), rgb(5, 228, 255));
}
.delete-button {
  background: black;
}
.delete-button:focus {
  background:rgb(4, 9, 84);
};
