.row {
  width: 400px;
}
.button-area {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.form-group {
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.form-group input {
  width: 300px;
  height: 25px;
  font-family: 'Raleway', sans-serif;
  font-size: medium;
}

.form-group-img {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.form-group-description {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.form-group-description textarea {
  width: 400px;
  height: 100px;
  font-family: 'Raleway', sans-serif;
  font-size: medium;
}

.form-group-ingredient {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.ingredient-area-name {
  width: 160px
}
.ingredient-area-amount,
.ingredient-area-unit  {
  width: 60px;
  }
.ingredient-area-category {
  width: 40px;
}

.ingredient-area-amount #amount,
.ingredient-area-unit #unit {
  width: 50px;
  height: 25px;
  font-family: 'Raleway', sans-serif;
  font-size: medium;
}

.ingredient-area-name #ingredient {
  width: 150px;
  height: 25px;
  font-family: 'Raleway', sans-serif;
  font-size: medium;
}

.ingredient-area-category #category {
  width: 30px;
  height: 25px;
  font-family: 'Raleway', sans-serif;
  font-size: medium;
}

app-button-x {
  margin-left: 30px;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}
