@import './src/styles';

.detail-area {
  width: 400px;
  padding:20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  @include box-shadow;

  &__img-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
  }

  &__img {
    margin-top: 20px;
    max-height: 250px;
  }

  &__btn-area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
  }

  &__title {
    text-align: center;
  }

  &__description {
    //text-align: center;
  }

  &__list {
    list-style-type: none;
    padding: 0;
    margin: 40px 0;
  }

  &__list-item {
    text-decoration: none;
  }

  &__text {
    white-space:pre-wrap;
  }
}

.added-successful {
  border: solid 1px #5bc19d;
  background-color: #b0eee0;
  border-radius: 4px;
  padding: 0 20px;
}

.delete-message {
  border: solid 1px #6c6a6d;
  background-color: #efecef;
  border-radius: 4px;
  padding: 0 20px 20px 20px;
}

@include large {
  .detail-area {
    width: 250px;

    &__img-area {
      width: 250px;
    }

    &__img {
      margin-top: 20px;
      width: 100%;
    }
  }
}

@include medium {
  .detail-area {
    margin-top: 50px;
    width: 250px;
    padding:10px;


    &__img {
      margin-top: 20px;
      width: 100%;
    }
  }
}



