.listArea {
  margin-top: 30px;
  margin-bottom: 30px;
};

.checkListItem {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: white;
  height: 20px;
  margin: 10px auto auto;
  width: 200px;
  border-radius: 3px;
  border: 3px solid limegreen;
  padding: 8px;
}

span {
  margin-left: 10px;
}

.deleteButtonArea {
  margin-top: 40px;
}

.deleteButton {
  display: block;
  margin: auto auto;
  width: 70px;
  font-size: 60%;
  border-radius: 15px;
  padding: 8px;
}
