<div class="listArea">
  <div class="checkListItem">
    <div>
      <input class="list-checkbox" type="checkbox">
      <span>Gemüse</span>
    </div>
    <i class="fa fa-trash" aria-hidden="true"></i>
  </div>

  <div class="checkListItem">
    <div>
      <input class="list-checkbox" type="checkbox">
      <span>Spaghetti</span>
    </div>
    <i class="fa fa-trash" aria-hidden="true"></i>
  </div>

  <div class="checkListItem">
    <div>
      <input class="list-checkbox" type="checkbox">
      <span>Chips</span>
    </div>
    <i class="fa fa-trash" aria-hidden="true"></i>
  </div>

<div class="deleteButtonArea">
  <button class="deleteButton">delete list</button>
</div>

</div>
