<div class="listArea">
  <div class="checkListItem">
    <div>
      <input type="checkbox">
      <span>Chocolat glace</span>
    </div>
    <i class="fa fa-trash" aria-hidden="true"></i>
  </div>

  <div class="checkListItem">
    <div>
      <input type="checkbox">
      <span>Chocolat glace</span>
    </div>
    <i class="fa fa-trash" aria-hidden="true"></i>
  </div>

  <div class="checkListItem">
    <div>
      <input type="checkbox">
      <span>Chocolat glace</span>
    </div>
    <i class="fa fa-trash" aria-hidden="true"></i>
  </div>

<div class="deleteButtonArea">
  <button class="deleteButton">delete list</button>
</div>

</div>
