<div class="listArea">
  <div class="checkListItem">
    <label>
      <input class="list-checkbox" type="checkbox">
      <input class="list-text" type="text">
    </label>
    <i class="fa fa-trash" aria-hidden="true"></i>
  </div>

  <div class="checkListItem">
    <div>
      <input class="list-checkbox" type="checkbox">
      <input class="list-text" type="text">
    </div>
    <i class="fa fa-trash" aria-hidden="true"></i>
  </div>

  <div class="checkListItem">
    <div>
      <input class="list-checkbox" type="checkbox">
      <input class="list-text" type="text">
    </div>
    <i class="fa fa-trash" aria-hidden="true"></i>
  </div>

<div class="deleteButtonArea">
  <button class="deleteButton">delete list</button>
</div>

</div>
