.list {
  width: 400px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 0 auto 0 auto;

  &__edit {
    max-width: 400px;
  }
  &__group {
    width: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 0px;
    list-style: none;
  }

  &__group-item {
    cursor: pointer;
    background-color: white;
    width: 250px;
    border: solid 1px black;
    border-radius: 5px;
    padding: 7px;
    margin-bottom: 5px;
    input[type="checkbox"]:checked + label {
        color: lightgrey;
    }
  }


}
.active {
  border: 1px solid #0505b2;
}

@media (max-width: 830px) {
  .list {
    width: 250px;
  }
}


