@import './src/styles';

.list {
  width: 400px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 0 auto 0 auto;

  &__edit {
    max-width: 400px;
  }

  &__group {
    width: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 0px;
    list-style: none;
  }

  &__group-item {
    cursor: pointer;
    background-color: white;
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid white;
    @include box-shadow;
    input[type="checkbox"]:checked + label {
        color: lightgrey;
    }
  }
}

.active {
  border: 1px solid rgb(42, 248, 183);
}

@include large {
  .list {
    width: 100%;

    &__group {
      width: 250px;
    }

    &__group-item {
      //width: 250px;
      width: 100%;
    }
  }
}

@include medium {
  .list {
    width: auto;
  }
}
