.body {
  text-decoration: none;
}
.add-button {
  color: white;
  display: block;
  margin: 10px auto;
  width: 210px;
  font-size: 20px;
  font-weight: 200;
  border-radius: 3px;
  border: 1px solid black;
  padding: 5px;
  background-color: black;
  outline: none;
  transition: 0.2s ease-in-out;
};
.add-button:focus {
  background: linear-gradient(-90deg,rgb(164,84,252), rgb(7, 191, 192));
}
button:hover {
  cursor: pointer;
  border-color: black;
  outline: none;
  background-color: rgb(0, 0, 0, 0.7);
};

.active {
  background-color: rgba(0,0,0,0.02);
}



