
.listBackground {

  &__logo{
    text-align: center;
    padding-top: 60px;
  }

  &__img{
    height: 70px;
  }

  &__title{
    text-align: center;
    color: black;
    margin-top: 30px;
    margin-bottom: 50px;
  }

  h1 {
    margin: 5px;
  }

}

.addButton {
  color: white;
  display: block;
  margin: 10px auto;
  width: 210px;
  font-size: 20px;
  font-weight: 200;
  border-radius: 3px;
  border: 1px solid black;
  padding: 5px;
  background-color: black;
  outline: none;
  transition: 0.2s ease-in-out;
};

.addButton:focus {
  background: linear-gradient(-90deg,rgb(164,84,252), rgb(7, 191, 192));
}


button:hover {
  cursor: pointer;
  border-color: black;
  color: black;
  outline: none;
  background-color: rgb(240, 240, 240);
};



