
<div class="listBackground">

  <div class ="listBackground__logo">
    <img src="../assets/img/pineappleNew.png" class= "listBackground__img" alt="Logo">
  </div>

  <div class="listBackground__title">
    <h1 class="username">Cyril's</h1>
    <h1>Shoppinglist</h1>
  </div>

  <button class="addItemButton">add Item</button>
  <button class="addCategory">add Category</button>

  <div class="listArea">
    <div class="checkListItem">
      <input type="checkbox">
      <span>Eier</span>
      <i class="fa fa-trash" aria-hidden="true"></i>
    </div>

    <div class="checkListItem">
      <input type="checkbox">
      <span>Chocolat glace</span>
      <i class="fa fa-trash" aria-hidden="true"></i>
    </div>

    <div class="checkListItem">
      <input type="checkbox">
      <span>Hello Checklist</span>
      <i class="fa fa-trash" aria-hidden="true"></i>
    </div>
  </div>
</div>
