@import './src/styles';
.button {
  color: white;
  min-width: 60px;
  height: 40px;
  display: block;
  border-radius: 25px;
  padding: 5px 15px;
  outline: none;
  transition: 0.2s ease-in-out;
  margin: 10px 10px;
  font-size: 12px;
  font-weight: 200;
  box-shadow: 4px 4px 4px 3px #e1e1e1;
}
.button:hover {
  cursor: pointer;
};
.add-button {
  @include save;
};
.add-button:hover {
  @include save-reverse;
};
.edit-button {
  @include edit;
};
.edit-button:hover {
  @include edit-reverse;
};
.clear-button {
  @include clear;
}
.clear-button:hover {
  @include clear-reverse;
}
.delete-button {
  @include delete;
}
.delete-button:hover {
  @include delete-reverse;
};

@include large {
  .button {
    margin: 10px 3px;
  }
}
