@import './src/styles';

.recipe-area {
  height: 85px;
  text-decoration: none;
  color: black;
  padding: 10px 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin-bottom: 5px;
  @include box-shadow;
}

.pull-left h2 {
  margin: 0px;
}

.image {
  height: 80px;
}

.recipe-img {
  height: 80px;
}

.recipe-area:hover {
  background-color: rgba(149, 250, 216, 0.5);

}

.active {
  background-color: rgba(149, 250, 216, 0.5);
}


@include large {
  .recipe-area {
    height: 65px;
  }
  .pull-left h2 {
    font-size: 20px;
  }
  .image {
    height: 60px;
  }
  .recipe-img {
    height: 60px;
  }
}

@include small {
  .recipe-area {
    height: 65px;
    padding: 5px 15px;
  }
  .pull-left h2 {
    font-size: 17px;
  }
  .image {
    height: 60px;
  }
  .recipe-img {
    height: 60px;
  }


}
