.recipe-area {
  height: 85px;
  text-decoration: none;
  color: black;
  padding: 10px 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  border: 0.5px solid grey;
  border-radius: 4px;
  background-color: white;
  margin-bottom: 5px;
}

.pull-left h2 {
  margin: 0px;
}

.image {
  height: 80px;
}

.recipe-img {
  height: 80px;
}

.recipe-area:hover {
  box-shadow:  2px 2px 4px 4px rgba(0, 0, 0, 0.2);
}

.active {
  box-shadow:  2px 2px 4px 4px rgba(0, 0, 0, 0.2);
  background-color: rgba(0,0,0,0.02);
}


@media (max-width: 830px) {
  .recipe-area {
    height: 65px;
  }
  .pull-left h2 {
    font-size: 20px;
  }
  .image {
    height: 60px;
  }
  .recipe-img {
    height: 60px;
  }
}

@media (max-width: 290px) {
  .recipe-area {
    height: 65px;
    padding: 5px 15px;
  }
  .pull-left h2 {
    font-size: 17px;
  }
  .image {
    height: 60px;
  }
  .recipe-img {
    height: 60px;
  }


}
