.recipe-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
}

.recipe-area {
  padding: 20px;
  width: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.btn {
  height: 150px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}
