.recipe-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
}

.btn {
  height: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
}


@media (max-width: 830px) {
  .recipe-list {
    width: 250px;
  }
}


