/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Raleway', sans-serif;
}

.active {
  background-color: rgba(0,0,0,0.02);
}

@mixin large {
  @media (max-width: 830px ) {
    @content;
  }
}

@mixin medium {
  @media (max-width: 650px ) {
    @content;
  }
}

@mixin small {
  @media (max-width: 400px ) {
    @content;
  }
}

@mixin save {
  background: rgb(42, 248, 183);
  color: white;
  border: 1px solid rgb(42, 248, 183);
}
@mixin save-reverse {
  background: rgb(9, 227, 134);
  color: white;
  border: 1px solid rgb(9, 227, 134);
}

@mixin edit {
  color: white;
  background:#bb70eb;
  border: 1px solid #bb70eb;
}

@mixin edit-reverse {
  color: white;
  background: #a74deb;
  border: 1px solid #a74deb;
}

@mixin clear {
  color: rgb(61, 229, 144);
  background: white;
  border: 1px solid rgb(61, 229, 144)
}

@mixin clear-reverse {
    color: rgb(9, 227, 134);
    background: #bfffe5;
    border: 1px solid rgb(9, 227, 134);
}

@mixin delete {
  background-color: black;
  color: white;
  border: 1px solid black;
}

@mixin delete-reverse {
  background-color: #3c3c3c;
  color: white;
  border: 1px solid #3c3c3c;
}
