/* You can add global styles to this file, and also import other style files */

body {
  font-family: 'Raleway', sans-serif;
  background-color: #fbfbfb;
}

.active {
  background-color: rgba(0,0,0,0.02);
}

input,
select,
textarea {
  border: none;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072);
}
input,
select {
  height: 30px;
  user-select: all;
}

@mixin box-shadow {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
}

@mixin large {
  @media (max-width: 830px ) {
    @content;
  }
}

@mixin medium {
  @media (max-width: 650px ) {
    @content;
  }
}

@mixin small {
  @media (max-width: 400px ) {
    @content;
  }
}

@mixin save {
  background: rgba(24, 180, 150, 0.75);
  color: white;
  border: 1px solid rgba(24, 180, 150, 0.75);
}
//@mixin save {
//  background: rgba(0, 192, 135, 0.75);
//  color: white;
//  border: 1px solid rgba(0, 192, 135, 0.75);
//}
@mixin save-reverse {
  background: rgba(24, 218, 188, 0.75);
  color: white;
  border: 1px solid rgba(24, 218, 188, 0.75);
}

@mixin edit {
  color: white;
  background: #935ed1;
  border: 1px solid #935ed1;
}

@mixin edit-reverse {
  color: white;
  background: #b14df5;
  border: 1px solid #b14df5;
}

@mixin clear {
  color: rgba(24, 180, 150, 0.75);
  background: white;
  border: 1px solid rgba(24, 180, 150, 0.75);
}

@mixin clear-reverse {
  color: rgba(24, 218, 188, 0.75);
  background: rgba(149, 250, 216, 0.5);
  border: 1px solid rgba(24, 218, 188, 0.75);
}

@mixin delete {
  background-color: black;
  color: white;
  border: 1px solid black;
}

@mixin delete-reverse {
  background-color: #3c3c3c;
  color: white;
  border: 1px solid #3c3c3c;
}
