<div>
  <form (ngSubmit)="onAddItem(f)" #f="ngForm">
    <div class="form-edit">
      <div class="form-edit__amount">
        <label for="amount">Amount</label>
        <input
          class="form-edit__amount-input"
          id="amount"
          name="amount"
          ngModel
          pattern="^[1-9]+[0-9]*$"
          required
          type="number"
        >
      </div>
      <div class="form-edit__unit">
        <label for="unit">Unit</label>
        <input
          class="form-edit__unit-input"
          id="unit"
          name="unit"
          ngModel
          type="text"
        >
      </div>
      <div class="form-edit__name">
      <label for="name">Name</label>
      <input
        class="form-edit__name-input"
        id="name"
        name="name"
        ngModel
        required
        type="text"
      >
    </div>
      <div class="form-edit__category">
        <label for="category">Category</label>
        <input
          class="form-edit__category-input"
          id="category"
          name="category"
          ngModel
          required
          type="number"
        >
      </div>
    </div>
    <div class="form-edit__button-area">
      <app-button-submit [add]="true" [buttonName]="editMode ? 'Update' : 'Add'" [disabledValue]="!f.valid"></app-button-submit>
      <app-button [clear]="true" [buttonName]="'clear'" (click)="onClear()"></app-button>
      <app-button  [delete]="true"
                   [buttonName]="'delete'"
                   (click)="onDelete()"
                   *ngIf="editMode"></app-button>
    </div>
  </form>
</div>
