@import './src/styles';

.form-edit {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;


  &__name {
    width: 185px
  }
  &__name-input {
    width: 170px
  }
  &__amount,
  &__unit {
    width: 54px;
  }
  &__amount-input,
  &__unit-input{
    width: 40px;
  }
  &__category {
    width:100px;
  }
  &__category option {
    font-family: 'Raleway', sans-serif;
    font-size: medium;
  }
  &__category-input {
    width:90px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
  }

  &__button-area {
    margin-top:40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;

  }
}
.form-edit input {
   font-family: 'Raleway', sans-serif;
   font-size: medium;
 }
.form-edit label {
  font-size: 13px;
  padding-left: 3px;
}

@include medium {
  .form-edit {

    &__name {
      width: 100px
    }
    &__name-input {
      width: 90px
    }
    &__amount,
    &__unit {
      width: 50px;
    }
    &__amount-input,
    &__unit-input{
      width: 40px;
    }
    &__category {
      width:80px;
    }
    &__category option {
      font-family: 'Raleway', sans-serif;
      font-size: small;
    }
    &__category-input {
      width:70px;
      font-family: 'Raleway', sans-serif;
      font-size: 15px;
    }

    &__button-area {
      margin-top:40px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-evenly;
      align-content: center;
      align-items: center;

    }

    .form-edit input {
      font-size: small;
    }
  }
}
