.form-edit {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;


  &__name,
  &__name-input {
    width: 200px
  }
  &__amount,
  &__unit {
    width: 90px;
  }
  &__amount-input,
  &__unit-input{
    width: 70px;
  }

  &__button-area {
    margin-top:40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;

  }
}
input {
  height: 25px;
  font-family: 'Raleway', sans-serif;
  font-size: medium;
}

